<h1>新規登録</h1>
<% if @list.errors.any? %>
  <%= @list.errors.count %>件のエラーが発生しました
  <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @list, url:'/lists', method: :post do |f| %> <!--基本形からmodelというオプションを追加し、その中にListモデルの情報を記述しています。-->
  <h4>タイトル</h4>
  <%= f.text_field :title %> <!--このブロック変数「f」には設定したmodelの情報(今回であればList.new)も含まれている-->
  
  <h4>本文</h4>
  <%= f.text_area :body %>
  
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %> <!--ファイルの投稿をするためのフィールド accept: "image/*"を使い、画像ファイルしか投稿できないようにしてる-->
  
  <%= f.submit '投稿' %>
<% end %>

<!--modelオプションでList.newを設定するだけで、自動的CreateアクションのURLへ送信することができる-->
<!--「:title」の部分にはプロパティが入ること-->
<!--ブロック変数「f」には-->
<!--Listモデルの情報も入っているためこのプロパティ名をtitleとすることで、Listモデルにあるtitleカラムと-->
<!--Railsは判別することができ、安全データベースに保存することができる-->



<!--url :どのURLへフォームの情報を送信するか-->
<!-- method :-HTTPメソッドを指定-->